@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.home__container {
  height: calc(100vh - 70px);
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    margin-top: 30%;
    padding: 5% 10%;
    align-items: flex-start;
  }
}

.home__container-content {
  color: #161515;
  text-align: center;
  max-width: 900px;

  h1 {
    color: black;
    font-family: poppins, sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    line-height: 1.4;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
      letter-spacing: normal;
      line-height: 1.5;

    }

    p {
      margin-top: 20px;
      font-size: 0.75rem;
      letter-spacing: 0.5px;
      line-height: 1.5;
    }
  }

  .home__container-gradient-header {
    background: linear-gradient(90deg, #9370db, #9270db, #f8aa69, #f79342);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.home__container-button {
  background-color: #6f43f4;
  font-size: medium;
  letter-spacing: 0.5px;
  line-height: 18px;
  color: white;
  border: none;
  padding: 18px 27px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    margin-top: 50px;
    font-size: x-small;
    padding: 10px 15px;
  }
}
