@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.home__container {
  // height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 768px) {
    align-items: center;
  }
}

.home__container-content {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  color: #161515;
  text-align: center;
  gap: 20px;

  h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.5rem, 5vw, 5.2rem);
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    line-height: 1.2;
  }

  p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.5;
  }

  @media screen and (max-width: 768px) {
    h1 {
      letter-spacing: normal;
      line-height: 1.2;
    }

    p {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 480px) {
    h1 {
      letter-spacing: normal;
      line-height: 1.5;
    }

    p {
      // font-size: 0.9rem;
    }
  }

  .home__container-gradient-header {
    background: linear-gradient(90deg, #9370db, #9270db, #f8aa69, #f79342);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .content-button {
    background-color: #664FE9;
    font-size: medium;
    letter-spacing: 0.5px;
    line-height: 18px;
    color: white;
    border: none;
    padding: 18px 27px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #5733c4;
    }

    &:focus {
      outline: 2px solid #f79342;
      outline-offset: 2px;
    }
  }
}

.Home__container-achievements {
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;
  width: 90%;
  list-style: none;

  li {
    flex: 1 1 calc(28% - 10px);
    height: 80%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 80px;
      height: 80px;
    }

    h2 {
      font-size: clamp(1rem, 2vw, 1.75rem);
      font-weight: normal;
      margin-top: 10px;
      color: #030307;
    }
  }

  #achievement_card-1 {
    background-color: #e8e3ff;
  }

  #achievement_card-2 {
    background-color: #b5ffe5;
  }

  #achievement_card-3 {
    background-color: #ffe6e4;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 80%;

    li {
      width: 100%;
      height: auto;
      padding: 15px;

      img {
        width: 60px;
        height: 60px;
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  @media screen and (max-width: 480px) {
    li {
      padding: 10px;
      margin-bottom: 15px;

      img {
        width: 50px;
        height: 50px;
      }

      h2 {
        font-size: 1.25rem;
      }
    }
  }
}
