.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-BG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 140px;

  background:
    radial-gradient(circle at 15% 30%, #d4cffaa6 5%, transparent 20%),
    radial-gradient(circle at 80% 20%, #e3fff5 5%, transparent 20%),
    radial-gradient(circle at 50% 50%, #d4cffadd 5%, transparent 20%),
    radial-gradient(circle at 85% 65%, #fef6e4 5%, transparent 25%),
    radial-gradient(circle at 20% 80%, #b6e2d3a4 5%, transparent 25%),
    radial-gradient(circle at 70% 20%, #f5ebc3a6 7%, transparent 25%),
    radial-gradient(circle at 50% 90%, #d3c4f1a8 7%, transparent 25%),
    radial-gradient(circle at 80% 40%, #d2e5ffa6 7%, transparent 25%);
  height: auto;

  @media screen and (max-width: 768px) {
    gap: 70px;
    background: radial-gradient(
        circle at 15% 50%,
        #d4cffaa6 5%,
        transparent 30%
      ),
      radial-gradient(circle at 50% 10%, #b6e2d3a4 2%, transparent 10%),
      radial-gradient(circle at 10% 5%, #d3c4f1a8 2%, transparent 10%),
      radial-gradient(circle at 15% 30%, #d4cffaa6 1%, transparent 10%),
      radial-gradient(circle at 85% 5%, #fef6e4b2 1%, transparent 5%),
      radial-gradient(circle at 80% 20%, #e3fff5 1%, transparent 10%),
      radial-gradient(circle at 50% 50%, #d4cffadd 1%, transparent 10%),
      radial-gradient(circle at 85% 65%, #fef6e4 1%, transparent 15%),
      radial-gradient(circle at 20% 80%, #b6e2d3a4 1%, transparent 15%),
      radial-gradient(circle at 70% 20%, #f5ebc3a6 1%, transparent 15%),
      radial-gradient(circle at 50% 90%, #d3c4f1a8 1%, transparent 15%),
      radial-gradient(circle at 80% 40%, #d2e5ffa6 1%, transparent 15%);
  }
}

.app__button {
  background-color: #664fe9;
  font-size: medium;
  letter-spacing: 0.5px;
  line-height: 18px;
  color: white;
  border: none;
  padding: 16px 38px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
  &:hover {
    background-color: #5733c4;
  }

  &:focus {
    outline: 2px solid #f79342;
    outline-offset: 2px;
  }
}

h1 {
  font-size: clamp(1.5rem, 5vw, 5.2rem);

  @media screen and (max-width: 1024px) {
    font-size: clamp(2rem, 5vw, 4rem);
  }

  @media screen and (max-width: 768px) {
    font-size: clamp(1.75rem, 5vw, 3.5rem);
  }

  @media screen and (max-width: 480px) {
    font-size: clamp(1.5rem, 5vw, 3rem);
  }
}

h2 {
  font-size: 3.85vw;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;

  @media screen and (max-width: 768px) {
    font-size: clamp(2.5rem, 3vw, 3.5rem);
  }

  @media screen and (max-width: 480px) {
    font-size: clamp(2rem, 3vw, 3rem);
  }
}

h3 {
  font-size: clamp(2rem, 2.5vw, 3rem);

  @media screen and (max-width: 768px) {
    font-size: clamp(1.75rem, 2.5vw, 2.5rem);
  }

  @media screen and (max-width: 480px) {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
  }
}

h4 {
  font-size: 2vw;

  @media screen and (max-width: 768px) {
    font-size: clamp(1.5rem, 1.5vw, 2.5rem);
  }

  @media screen and (max-width: 480px) {
    font-size: clamp(1rem, 1.2vw, 2rem);
  }
}

p {
  font-size: clamp(1rem, 1.5vw, 1.75rem);
  line-height: 1.5;

  @media screen and (max-width: 1024px) {
    font-size: clamp(1rem, 1.5vw, 1.75rem);
  }

  @media screen and (max-width: 768px) {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
  }

  @media screen and (max-width: 480px) {
    font-size: clamp(0.875rem, 1.25vw, 1.25rem);
  }
}
